$theme-font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$brand-primary: #ff6600;
$brand-secondary: #ff9933;
$pad: 5px 20px;
$border-radius: 1em;
$box-shadow-header: inset -30px 0px 50px 0px rgba(0,0,0,0.25);
$box-shadow-navigation: inset -30px 30px 50px 0px rgba(0,0,0,0.25);
$box-shadow-featured: inset -10px 0px 50px 0px rgba(0,0,0,0.10);
$box-shadow-footer: inset -30px -30px 50px 0px rgba(0,0,0,0.25);


body {
  font-family: $theme-font;
  color: $brand-primary;
  background-color: #edede9;
  font-size: 62.5%;
  line-height: 1.2;
}

h1,h2,h3,h4,h5 {
  margin:0;
  color: $brand-primary;
}

h1 {
  font-size: 4.4rem;
  font-weight: bold;
}
h2 {
  font-size: 2.0rem;
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: $brand-secondary;
}
h4 {
  font-size: 1.0rem;
  font-weight: normal;
  color: white;
}
a {
  color: $brand-secondary;
  font-size: 1.0rem;
}

section{
  color: $brand-secondary;
  font-size: 1.0rem;
}

.Navigation{
  text-align: center;
  background-color:$brand-primary;
  border-radius: $border-radius $border-radius 0px 0px;
  box-shadow: $box-shadow-navigation;
  padding-top:10px;
  & button{
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: $border-radius $border-radius 0px 0px;
    & a{
      color:$brand-primary;
    }
  }
}

.active{
  text-decoration: underline;
}

.Header {
  padding:$pad;
  & a,span {
    color:grey;
    font-size: 0.8rem
  }

  & h1 {
    margin-top:10px;
  }
}

.Home {
  &--content{
    margin-top: 40px;
    color:$brand-secondary;
  }
  &--featured{
    color:$brand-secondary;
    padding:$pad;
    margin-bottom: 20px;
    & h2 {
      color:$brand-primary;
    }
  }
}

.Projects{
  &--image{
    width:100%;
    height:auto;
  }
}

.Project{
  padding:20px 0px;
  & h3{
    text-align: center;
    padding-top:10px;
  }
  & p{
    color:grey;
    padding:10px;
  }
}

.Arduino{
  &--header{
    text-align: center;
    background-color: $brand-secondary;
    padding:$pad;
    margin-bottom: 1rem;
    box-shadow:$box-shadow-header;
    & h2 {
      color:white;
    }
  }
}

.Skills{
  &--header{
    text-align: center;
    background-color: $brand-secondary;
    padding:$pad;
    margin-bottom: 1rem;
    box-shadow:$box-shadow-header;
    color:white;
    & h2 {
      color:white;
    }
  }
  &--introduction{
    margin-top:20px;
    padding:$pad;
  }
}

.Footer {
  text-align: center;
  color:white;
  background-color: $brand-secondary;
  border-radius: 0px 0px $border-radius $border-radius;
  box-shadow:$box-shadow-footer;

}
