@import "./globals.scss";

.Footer {
  text-align: center;
  font-weight: bold;
  color: $brand-primary;
  border: $border-style;
  padding: $pad;
  & h4 {
    color: $brand-primary;
    font-size: 1rem;
    font-weight: bold;
  }
}
