@import "./globals.scss";

.Footer {
  text-align: center;
  font-weight: bold;
  border: $border-style;
  border-color: inherit;
  padding: $pad;
  & h4 {
    font-size: 1rem;
    font-weight: bold;
  }
}
