$theme-font: Roboto, Helvetica, Arial, sans-serif;
$brand-primary: #ff6600;
$border-style: 2px black dashed;
$grey: grey;
$pad: 10px 20px;
$padEven: 20px 20px;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
