@import "./Globals.scss";

.Header {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: $border-style;
  border-color: inherit;
  & a,
  span {
    font-size: 1.1rem;
    @media (min-width: $lg) {
      font-size: 1.1rem;
    }
  }
  & h1 {
    margin-bottom: 2rem;
  }
  &--left-section {
    display: inline-block;
    @media (min-width: 0) {
      width: 100%;
    }
    @media (min-width: $sm) {
      width: 100%;
    }
    @media (min-width: $md) {
      width: 60%;
    }
    @media (min-width: $lg) {
      width: 60%;
    }
  }
  &--right-section {
    display: inline-block;
    @media (min-width: 0) {
      width: 100%;
    }
    @media (min-width: $sm) {
      width: 100%;
    }
    @media (min-width: $md) {
      width: 40%;
    }
    @media (min-width: $lg) {
      width: 40%;
    }
  }
  &--skill-list {
    text-align: left;
  }
  &--contact-list {
    text-align: left;
    margin-top: 10px;
    line-height: 1.38;
    @media (min-width: $md) {
      text-align: right;
    }
  }
  &--icon {
    font-size: 1.2rem;
    margin-bottom: -3px;
  }
}
