@import "./Globals.scss";

.Home {
  &--row {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 0) {
      flex-direction: column;
    }
    @media (min-width: $sm) {
      flex-direction: row;
    }
    @media (min-width: $md) {
      flex-direction: row;
    }
    @media (min-width: $lg) {
      flex-direction: row;
    }
  }
  &--left-section {
    display: inline-block;

    @media (min-width: 0) {
      width: 100%;
    }
    @media (min-width: $sm) {
      width: 100%;
    }
    @media (min-width: $md) {
      width: 25%;
    }
    @media (min-width: $lg) {
      width: 25%;
    }
  }
  &--right-section {
    display: inline-block;
    @media (min-width: 0) {
      width: 100%;
    }
    @media (min-width: $sm) {
      width: 100%;
    }
    @media (min-width: $md) {
      width: 75%;
    }
    @media (min-width: $lg) {
      width: 75%;
    }
  }
  &--header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    border-top: none;
    padding: $pad;
  }
  &--divider {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    padding: $pad;
  }
  &--sub-header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: $pad;
    margin-bottom: 1rem;
  }
  &--content {
    border-top: none;
    width: 100%;
    display: inline-block;
    font-size: 0;
    & p {
      font-size: 1.1rem;
    }
    &-face {
      width: 100%;
      height: auto;
    }
  }
  &--panel {
    padding: 20px;
    background-color: white;
  }
  &--featured {
    font-size: 1.1rem;
    padding: $padEven;
    border: $border-style;
    border-color: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: 0) {
      width: 90%;
      margin-left: 0px;
      margin-right: 0px;
    }
    @media (min-width: $sm) {
      min-height: 550px;
      width: 40%;
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (min-width: $md) {
      min-height: 520px;
      width: 33.33%;
      margin-left: 20px;
      margin-right: 20px;
    }
    @media (min-width: $lg) {
      min-height: 520px;
      width: 33.33%;
      margin-left: 40px;
      margin-right: 40px;
    }

    p {
      margin-bottom: 0px;
      min-height: 125px;
    }
    & h2 {
      text-align: center;
      margin: 10px;
      font-weight: bold;
    }
    &-image {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    &-link {
      width: 100%;
      font-weight: bold;
    }
    & h3 {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
      margin: 20px;
      min-height: 48px;
    }
  }
}
