@import "./Globals.scss";

.Home {
  &--header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    border-top: none;
    padding: $pad;
  }
  &--divider {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    padding: $pad;
  }
  &--sub-header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: $pad;
    margin-bottom: 1rem;
  }
  &--content {
    border-top: none;
    width: 100%;
    display: inline-block;
    font-size: 0;
    & p {
      font-size: 1.1rem;
    }
    &-face {
      width: 100%;
      height: auto;
    }
  }
  &--panel {
    padding: 20px;
    background-color: white;
  }
  &--featured {
    font-size: 1.1rem;
    padding: $padEven;
    border: $border-style;
    border-color: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;

    p {
      margin-bottom: 0px;
      min-height: 125px;
    }
    & h2 {
      text-align: center;
      margin: 10px;
      font-weight: bold;
    }
    &-image {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    &-link {
      width: 100%;
      font-weight: bold;
    }
    & h3 {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
      margin: 20px;
      min-height: 48px;
    }
  }
}
