@import "./Globals.scss";

.Navigation {
  border: $border-style;
  border-color: inherit;
  border-top: none;
  text-align: center;
  padding: $pad;
  & a {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    box-shadow: none;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    display: inline-block;
    text-decoration: none;
  }
}

.active {
  text-decoration: underline !important;
}
