@import "./Globals.scss";

.Projects {
  padding: $pad;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &--introduction {
    text-align: center;
    padding: $pad;
  }
  &--header {
    font-size: 1.2rem;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    border-top: none;
    padding: $pad;
    margin-bottom: 1rem;
    color: $brand-primary;
  }
  &--divider {
    font-size: 1.2rem;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    padding: $pad;
    margin-bottom: 1rem;
  }
}

.Project {
  border: $border-style;
  border-color: inherit;
  padding: 10px;
  margin: 10px;
  @media (min-width: 0) {
    width: 100%;
  }
  @media (min-width: $sm) {
    width: 40%;
  }
  @media (min-width: $md) {
    width: 28%;
  }
  @media (min-width: $lg) {
    width: 28%;
  }

  &--image {
    width: 100%;
    height: auto;
  }
  & h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    min-height: 72px;
  }
  & h3 a {
    font-weight: bold;
  }
  & h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & p {
    font-size: 0.9rem;
    margin: 0;
    padding: 10px;
    min-height: auto;

    @media (min-width: $md) {
      min-height: 200px;
    }
    @media (min-width: $lg) {
      min-height: 180px;
    }
  }
}
