@import "./Globals.scss";

.Skills {
  &--header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: $border-style;
    border-color: inherit;
    padding: $pad;
    margin-bottom: 1rem;
  }
  &--introduction {
    text-align: center;
    padding: $pad;
  }
}
